USE [ossapp]
GO
/****** Object:  StoredProcedure [dbo].[rep_parentsfees_list]    Script Date: 2014/11/24 23:22:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[rep_parentsfees_list]
@feeftime datetime
,@feeltime datetime
,@area varchar(100)
,@kname varchar(100)
 AS 

select '' kname
,'' area
,'' vipstate
,'' remark






GO
