@{
    ViewBag.Title = "未加入幼儿园";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@*<script>
    function loadComplete() {
    }
</script>*@
<style>
    .tip
    {
        color:red;
        padding-top:60px;
        text-align:center;
        margin:auto;
        height:240px;
        width:90%;
    }
</style>
<div class="tip">
    <span>您还没有加入幼儿园，不能给其他用户发送通知。</span>
</div>
