USE [DocApp]
GO
/****** Object:  StoredProcedure [dbo].[thelp_categories_Delete]    Script Date: 2014/11/24 23:00:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------------
--用途：删除文档分类
--项目名称：zgyeyblog
--说明：
--时间：2008-09-29 22:36:39
--作者：along
------------------------------------
CREATE PROCEDURE [dbo].[thelp_categories_Delete]
@categoryid int
 AS 
	UPDATE thelp_categories
	 SET status=0
	 WHERE categoryid = @categoryid
	 
	UPDATE thelp_documents set deletetag=0 where  categoryid = @categoryid

	IF @@ERROR <> 0 
	BEGIN 
	   RETURN(-1)
	END
	ELSE
	BEGIN
	   RETURN (1)
	END









GO
