USE [ossrep]
GO
/****** Object:  StoredProcedure [dbo].[init_rep_ebook_detail]    Script Date: 2014/11/24 23:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[init_rep_ebook_detail]
 AS 
 
 select 1


GO
