USE [ossrep]
GO
/****** Object:  StoredProcedure [dbo].[init_rep_wisdom_sum]    Script Date: 2014/11/24 23:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[init_rep_wisdom_sum]
 AS

delete rep_wisdom_detail



GO
