USE [GBApp]
GO
/****** Object:  StoredProcedure [dbo].[Init_GB_DemoData]    Script Date: 2014/11/24 23:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Init_GB_DemoData] 

 AS 	
 
 
-- select * From GrowthBook where userid=295767

update 
celllist
set
teacher_point='0,0,0,0,0,0,0,0|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0',
parent_point='2,2,2,2,2,2,2,2|3,2,2,2,3,2,3,3|3,3,3,3,3,3,3,3|2,3,3,3,3,3,3,1|3,3,2,3,3,3,3,2|3,3,3,3,3,3,3,3|3,3,3,2,3,3,2,3|3,3,3,3,3,3,3,3|3,2,3,2,3,3,3,2|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|3,3,3,3,3,3,3,3|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0|0,0,0,0,0,0,0,0',
teacher_word='   子沫这个星期你都没回园，老师和小朋友们都很想念你！希望下星期能见到你高兴的回园，那就太好了。|   乖孩子，还记得9月20日是什么日子吗？这星期我们结合爱牙日学了一首新歌《亲亲小牙刷》，徐老师还讲了一个故事《小松鼠的刷子》你还记得小松鼠的刷子是什么吗？我们还听了孔融让梨的故事，你能说说为什么他要吃最小的梨吗？回家要记得讲给爸爸妈妈听哦。    这星期我们学了好多的本领，你都记得吗？|    这个星期我们学习了新的歌曲《有趣的歌声》，你还记得吗？这是谁的歌声呢？我们结合中秋节日欣赏了故事《嫦娥奔月》，看着你认真听故事的样子真可爱!我们还学了分享阅读故事《小狗的一天》，你能说出来小狗都在哪里吗？    子沫，看着你一天一天都进步，老师真开心，每天都能见你高兴回园，真棒！继续坚持，加油！老师相信你行的！|   好孩子，这星期里我们跟着李老师学习了怎么样折青蛙，你学会了吗？企鹅哥哥还带着我们玩新游戏，锻炼了我们的平衡能力，你还记得吗？徐老师讲了一个新故事《小花脸》妞妞变成小花脸后请了谁来帮忙？你记得吗？   听完这故事后，你要不要像妞妞一样做小花脸呢？ 徐老师还教了一首《洗脸》的儿歌，有没有读给爸爸妈妈听呢？|   这星期周老师讲了一个《小兔子找太阳》的故事，太阳是怎么样的呢？我们还学了《苍蝇苍蝇快走开》的分享阅读，在家有没读给爸爸妈妈听呢？    现在的天气开始变凉了，要学会保护自己的身体，不要着凉，穿袜子的穿衣服的动作要快些才行，在家有空也多练习练习怎么穿吧！你行的！加油！|    乖宝贝，在家有没有把老师教的古诗《悯农》读给爸爸妈妈听啊？我们还学习了新的儿歌《白米饭》你还记得吗？我们学习了这么多本领，这些儿歌、古诗都告诉我们不要浪费粮食，粮食来的不容易，学过的知识要记得哦！|    这星期我们认识了海带，初步了解海带的营养价值，我们还学了一首新歌《十个小印第安人》，还学了《小豆芽芽》的舞蹈，回到家有没有给爸爸妈妈表演过呢？|    这星期我们学唱了一首古诗歌曲《咏鹅》，还一起认识了花生探索花生宝宝的秘密，还学习了《司马光砸缸》的故事懂得遇到危险的时候不要慌张，要想办法解决；我们还进行了“119”防火实践活动，还记得着火时的逃生方法吗？还记得着火时要拿湿毛巾捂住口鼻不放浓烟吸进去吗？小宝贝学习可认真了，继续加油哦！|    这星期我们学了《小小蛋儿把门开》的舞蹈，还学习了一首新歌《小金鱼》记得吗？这星期李老师还教了我们《平踏步》好玩吗？天气转凉了，老师教了你抓住衣袖穿外套的方法，在家里有没有锻炼呢？还教了你叠被子叠衣服的方法，希望你在家里也能帮爸爸妈妈忙。加油哦！！！|   小宝贝，这星期我们学习《身体音阶歌》在家有没有听着音乐跟着边唱边做动作呢？您还记得11月22日是什么节日吗？那天老师讲了一个《小乌鸦爱妈妈》的故事，你听完这个故事，你喜欢小乌鸦吗？你要不要学习小乌鸦那样爱自己的妈妈？我们除了要爱自己的爸爸妈妈，还有家里的所有人，你身边的朋友、老师、同学等等你都要学会去爱他们。知道吗？子沫这个星期上课很认真没有调皮真棒哦！要继续加油哦！|   小宝贝，这星期我们利用学习过的短线、长线、曲线、     折线和螺旋线,大胆给“狮子”设计新潮发型，你还记得你设计的发型吗？我们听了儿歌《打喷嚏》，通过儿歌知道对着别人打喷嚏是一件不卫生、不礼貌的事情，也学习正确的打喷嚏的方法；我们听了故事《给妈妈的妈妈送甜蜜》，你还记得妈妈的妈妈指的是谁吗？我们学了好多的本领，你都学会了吗？    这星期五还有广州儿童图书馆的叔叔阿姨来到我们的幼儿园，来跟我们介绍小图书，“我们一起跟图书馆做朋友”，还听了图书馆的阿姨跟我讲了两个图书里的小故事，好听吗？|   小宝贝，这星期我们学了新的歌曲《走路》，你还记得怎么唱吗？我们学了新的舞蹈《拍拍手好朋友》回家有没有跟着音乐跳呢？我们欣赏了故事《不怕冷的大衣》你还记得吗？知道我们要怎样才能不怕冷吗？ 现在的天气变凉了，上床后要记得先拿被子盖住脚再脱衣服哦~！老师希望你在家能自己多锻炼怎么穿脱衣服，让自己的小手变得更能干！你能做到吗？||||||||||||||||||',
parent_word='   宝宝前几天不小心被开水烫到了嘴唇，起了泡，所以耽误了几天没有去上学。     感谢刘老师的关心哦。|    几天没有上学，宝宝又开始有点厌学了。     幸好在爸爸妈妈和老师的鼓励下，宝宝还是一如既往地坚持去幼儿园。宝贝好样的！     宝贝，老师教的新歌，没听你给爸爸妈妈唱过哦；老师教的故事，你也没和爸爸妈妈说哦——贪玩的宝宝。|   宝宝这个礼拜的表现总体还好，很乖，宝贝继续坚持哦。|   这个小家伙，回来都没说过呢！看来还是我们的方法欠缺，没有和她好好交流，下次改正。    另外和老师有个不情之请，希望可以帮助宝宝纠正又不影响她的自尊心：晚上经常会尿床，头疼不已。|    这个礼拜总体还行，但是淘气的毛病仍然改得不多。 能把老师教的故事讲给爸爸妈妈听，表达还算不错。希望宝贝继续努力，越来越棒！|    宝宝很喜欢吃鱼，从小就吃过无数种鱼，所以特别能自己挑刺，相信在老师教了正确的吃鱼方法后，宝宝以后吃鱼会更认真了。 但是，宝宝在家吃饭却不认真，经常饭后一片狼藉，饭粒到处都是，请老师帮忙教诲，谢谢！      另外，如果有可操性的话建议下老师，每天教的重要内容放个纸条在宝宝书包里，能及时让我们知道，不然宝宝经常偷懒不告诉我们学了什么内容。|   向老师报告：    1.小家伙从没告诉我们她在这个礼拜学了什么新歌和舞蹈；    2.在家依旧很淘气，这个礼拜爸爸都打她PP了。|   宝贝这个礼拜在幼儿园学了新的知识，表现不错。回到家能主动向我们汇报：《咏鹅》唱得很好，也懂得火灾自救知识，不过《司马光砸缸》的故事不太记得了，还是爸爸重新帮宝贝记忆了一遍。    本周的表现总体还不错，宝贝要再接再厉。|   这星期宝宝又偷懒了，学的东西没有全部在家表演给爸爸妈妈看。    还有个坏习惯也一直没有改掉：喜欢用嘴咬东西，喜欢抠鼻子，请老师帮忙敦促^-^。|   周五爸爸带宝宝去了海洋公园，在等登山缆车时，发现宝宝竟然会看导游图了，能够主动给爸爸指出自己在地图上的什么位置。    女儿真的长大了，也越来越聪明了！|   宝宝这周很乖。    不过，每天太长时间看动画片了，担心对眼睛不好。不过，还是能听妈妈的话，到点就主动关掉IPAD休息。 爸爸要出差了，让宝宝在家要乖乖听老师的话， 听妈妈的话，宝宝郑重点头。|   宝宝学习的歌曲都能主动在家表演，唱得很好。 爸爸去北京出差了，开始没概念，没两天就想爸爸了，要和爸爸视频，给爸爸在镜头前表演新学的歌曲，让爸爸很感动。    宝宝长大了。||||||||||||||||||'
where gbid in (123,124)

delete from gblifephoto where gbid in (123,124)

insert into gblifephoto(gbid,photo_desc,m_path,net,updatetime,upfrom,deletetag)
select 123,photo_desc,m_path,net,updatetime,upfrom,deletetag from gblifephoto where gbid=204626

insert into gblifephoto(gbid,photo_desc,m_path,net,updatetime,upfrom,deletetag)
select 124,photo_desc,m_path,net,updatetime,upfrom,deletetag from gblifephoto where gbid=204626


delete from gbworkphoto where gbid in (123,124)

insert into gbworkphoto(gbid,photo_desc,m_path,net,updatetime,upfrom,deletetag)
select 123,photo_desc,m_path,net,updatetime,upfrom,deletetag from gbworkphoto where gbid=204626

insert into gbworkphoto(gbid,photo_desc,m_path,net,updatetime,upfrom,deletetag)
select 124,photo_desc,m_path,net,updatetime,upfrom,deletetag from gbworkphoto where gbid=204626


update section set
my_photo='/GBPhoto/20130125/-15138526095103.jpg|/GBPhoto/20130125/-15138287503369.jpg|/GBPhoto/20130125/-15136382966127.jpg|/GBPhoto/20130125/-15133270782004.jpg|null|null|null|null|null|null|null|null' ,
teacher_word='九月份开学了，我也跟同伴们一起升上小班当哥哥姐姐了。我们很快就适应了幼儿园的生活。老师也表扬我。这个学期我开始学习更多的本领。加油！|   这个学期我们班里增加了很多活动区域，如美工区、建筑区、表演区等等。小朋友在游戏中学习到更多的本领。这些区域的游戏材料很多都是小朋友收集回来的废旧物品。老师也表扬和谢谢我们了！我们在活动区里玩好高兴啊！|   小宝贝，这个月可乖了，努力学习咏诗，还学会了几首歌曲，舞蹈。学会了懂礼貌，遇到老师和小朋友都会问好，在幼儿园玩游戏时和别的小朋友之间很配合，玩得可高兴了。不过就是有点淘气，总体表现还不错。|   天气渐渐冷了，但丝毫不影响孩子们的热情。这个月都加强了身体的锻炼。子沫很喜欢手工画画，还学会了简单的剪纸，回家要表演给爸爸妈妈看哦！晚上睡觉了要注意别凉着了。||||||||',
parent_word='    新的学期刚刚开始，宝宝因为不小心烫伤，耽误了一个星期的学习，不过，相信宝宝能很快就会又喜欢上幼儿园的生活。     宝宝说，她开始喜欢新来的刘姐姐了，以前，她可是一直很想念班主任黄老师的。     新学期伊始，万象更新，祝愿宝宝在老师、同学的幸福氛围下，开心每一天。|   宝宝以前在幼儿园学了什么，回到家都不跟爸爸和妈妈说的。这个月表现不错，在老师的教导下，现在回到家都会主动的告诉爸爸妈妈，自己学了什么，还会讲故事给爸妈听了。而且还学会了正确的吃鱼方法，不过依然很淘气。希望宝宝能健康快乐地成长！|   宝宝这个月很爱学习，在幼儿园学了好几首新诗，还学会了新了歌曲舞蹈，回到家都会哼几句，高兴的时候边唱边跳表演爸妈看。    不过还是有点含玩，看动画片时间太长了。对眼睛不好。宝贝，爸妈希望你能改掉不好的习惯，健康成长哦。要麻烦老师多加教导了。|  这个月天气有点冷了，但依然不影响宝宝的活跃 ，带她出去外面玩，可高兴了。真是贪玩的小家伙！依然很淘气，也许这是小孩子的天性吧。不过值得欣慰的是宝宝现在很喜欢去幼儿园了，也喜欢和别的小朋友一起玩。只要宝宝能开心健康的成长就行了。||||||||',
my_word='我会乖乖地听老师和爸妈的话。做个乖宝宝。|我喜欢听老师讲故事，我要做个乖宝宝。|我喜欢看动画片，可是妈妈说看动画片对眼睛不好，我要听妈妈的话，只看一小会就好了。|我喜欢和幼儿园里的小朋友一起玩。||||||||',
net='39|39|39|39|1|1|1|1|1|1|1|1',
updatetime='2013-01-25|2013-01-25|2013-01-25|2013-01-25|null|null|null|null|null|null|null|null'
where gbid in (123,124)

update summary set teacher_word='可爱的子沫：      升上小班以后，你的进步可真大！在自理能力方面你从来不用老师担心，每天午睡前，你都能把衣服整理得整整齐齐，还会自己套枕头套呢！小朋友们都以你为榜样呢！你能够愉快地进餐，不挑食，把碗里的饭菜吃完。你是一个有礼貌的好孩子，每天早上都能够听到你用甜甜的声音向人问好，真棒！     我们开展了《我吃得真棒》的主题活动，你对这个活动非常感兴趣，你学会了“低头看食物、一口接一口、手扶碗”等的进餐本领。有时候你还会吃上三碗饭，所以你长高了不少哦！在餐后活动中，你最喜欢用彩泥做出各式食物,如蛋糕、饺子等，老师看了都嘴馋了！  你可爱听老师讲故事了，也能简单地复述学过的故事内容。老师教的儿歌你都能朗朗上口，老师真为你骄傲！你喜欢美术活动，还能用多种颜色和线条去装饰你的画。你也喜欢音乐活动，你会跟着音乐创编一些简单的舞蹈动作，能积极在同伴面前表演。特别是做小广播员，你能大方地用好听的声音唱歌，可棒了！      其实，你认识的东西有很多，老师觉得你真棒，如果能主动举手回答问题、玩游戏时大胆地跟哥哥姐姐交流就更好了。那你的进步一定会更大！ '
where gbid in (123,124)


















GO
