<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="x5-fullscreen" content="true" />

  <title>@ViewBag.Title</title>
  <link href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.css?v=20170810" rel="stylesheet" />
  <script src="/Content/common/js/fastclick.min.js"></script>
  <script src="/Content/common/js/jquery-3.3.1.min.js"></script>
  <script>$(function () {FastClick.attach(document.body)})</script>
  <script src="/Content/common/js/weui.min.js"></script>
  <script src="/Content/common/js/director.min.js"></script>
</head>
<body>
  @RenderBody()
</body>
</html>

