USE [KWebCMS]
GO
/****** Object:  StoredProcedure [dbo].[cms_photo_GetCountBySearchDateTime]    Script Date: 2014/11/24 23:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		hanbin
-- Create date: 2009-03-23
-- Description:	根据时间获取图片数量
-- =============================================
CREATE PROCEDURE [dbo].[cms_photo_GetCountBySearchDateTime]
@startdatetime Datetime,
@enddatetime Datetime
AS
BEGIN	
	DECLARE @count int
	SELECT @count=count(*) 
	FROM cms_photo c
	WHERE c.createdatetime BETWEEN @startdatetime AND @enddatetime and deletetag = 1
		AND photoid NOT IN (SELECT photoid FROM portalphoto)
	RETURN @count
END

GO
