USE [KWebCMS]
GO
/****** Object:  StoredProcedure [dbo].[site_domain_Update]    Script Date: 04/01/2014 11:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[site_domain_ReSet]
@kid int,
@domain nvarchar(100)
AS
BEGIN
	
	
	
END

