USE [gyszq]
GO
/****** Object:  StoredProcedure [dbo].[company_GetInfoByAccount]    Script Date: 08/28/2013 14:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------
--用途：取当前登录公司信息
--项目名称：ServicePlatform
--说明：
--时间：2009-08-06 10:23:01
------------------------------------
CREATE PROCEDURE [dbo].[company_GetInfoByAccount]
@account nvarchar(30)
 AS 
	SELECT 
	t1.companyid,t1.account,t1.password,t1.province,t1.city,t1.companyname,t1.companysynopsis,t1.tel,t1.linkman,t1.address,t1.qqnumber,t1.email,t1.imagepath,t1.imagename,t1.regdatetime,t1.activitycount,t1.productscount,t1.companycommentcount,t1.companystatus,t1.website,t1.companycategoryid,t1.updatetime,t1.orderno,t1.companyappraisecount,t1.viewcount,
		t2.source,t2.title
	 FROM [company] t1 INNER JOIN companycategory t2 ON t1.companycategoryid=t2.companycategoryid 
	 WHERE t1.account=@account and t1.status=1
GO
