USE [BasicData]
GO
/****** Object:  StoredProcedure [dbo].[remindsms_GetNewCount]    Script Date: 2014/11/24 21:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
  
CREATE PROCEDURE [dbo].[remindsms_GetNewCount]  
@uid int  
AS  

GO
