USE [HealthApp]
GO
/****** Object:  StoredProcedure [dbo].[hcm_test_result_module_Add]    Script Date: 2014/11/24 23:10:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[hcm_test_result_module_Add]
@testid int,
@lowerscore int,
@upperscore int,
@instruction varchar(max)
as
Set nocount on 

Insert Into hc_test_result_module (testid, lowerscore, upperscore, instruction,deletetag)
  Values(@testid, @lowerscore, @upperscore, @instruction,1)

if Scope_Identity() > 0
  Select 1
else 
  Select 0



GO
