USE [HealthApp]
GO
/****** Object:  StoredProcedure [dbo].[queryItemCheck]    Script Date: 2014/11/24 23:10:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[queryItemCheck] 
@bid int,
@item varchar(100)	
AS

  set @item=CommonFun.dbo.FilterSQLInjection(@item)
  
   declare @userId int
   declare @term varchar(50)
   create table #temp
  (
     uid int,
     checktime datetime,
     checkresult varchar(100),
     value int,
     tw varchar(50)
  )
  
  create table #tempItem
  (
     uid int,
     type varchar(20),
     ctime datetime,
     status int,
     stw varchar(50)
  )
  select @userId=uid,@term=term from BaseInfo where id = @bid
  insert into #temp(uid,checktime,checkresult,value,tw)
  select userid,dotime,result, status,temperature from MCApp..rep_mc_child_checked_detail where userid = @userid 

  if(@item='tw')
    begin
    
      exec ('select '+@item+',checktime from HealthApp..CheckRecord where bid='+@bid+' and '+@item+'>=38')
    end
  else
    begin
     
      insert into #tempItem(uid,type,ctime,status,stw)
      select uid,case when (checkresult like '%'+@item+',%') then @item else '' end,checktime,value,tw from #temp
      select * from #tempItem
        
    end

      drop table #tempItem
      drop table #temp


GO
