USE [GroupApp]
GO
/****** Object:  StoredProcedure [dbo].[SchoolBus_SafeManage_Init]    Script Date: 2014/11/24 23:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------
--用途：增加一条记录 
--项目名称：
--说明：
--时间：2012/2/16 11:45:11
------------------------------------
CREATE PROCEDURE [dbo].[SchoolBus_SafeManage_Init]
@bid int,
@childsafe nchar(10),
@teachersafe nchar(10),
@carsafe nchar(10),
@childinsuran nchar(10),
@childeducation nchar(10),
@teachereducation nchar(10),
@opinion varchar(2000),
@inuserid int

 AS 

declare @p int,@sid int
select @p=count(1) from [SchoolBus_SafeManage] where bid=@bid

if(@p=0)
begin

	INSERT INTO [SchoolBus_SafeManage](
	[bid],[childsafe],[teachersafe],[carsafe],[childinsuran],[childeducation],[teachereducation],[opinion],[inuserid],[intime],deletetag
	)VALUES(
	@bid,@childsafe,@teachersafe,@carsafe,@childinsuran,@childeducation,@teachereducation,@opinion,@inuserid,getdate(),1
	)
end
else
begin

UPDATE [SchoolBus_SafeManage] SET 
	[childsafe] = @childsafe,[teachersafe] = @teachersafe,[carsafe] = @carsafe,[childinsuran] = @childinsuran,[childeducation] = @childeducation,[teachereducation] = @teachereducation,[opinion] = @opinion,[inuserid] = @inuserid
	WHERE  bid=@bid and @opinion <>''

end

select @sid=ID from SchoolBus_SafeManage WHERE  bid=@bid

return @sid






GO
