USE [ReportApp]
GO
/****** Object:  StoredProcedure [dbo].[syn_sdkid]    Script Date: 2014/11/24 23:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		liaoxin
-- Create date: 2011-6-29
-- Description:	获取指定幼儿园所以年级列表
--exec [BasicData_GetGradeListByKID] 58
-- =============================================
CREATE   PROCEDURE [dbo].[syn_sdkid]

AS
BEGIN
exec init_rep_growthbook 11373
exec init_rep_growthbook 14208
exec init_rep_growthbook 14414
exec init_rep_growthbook 14468
exec init_rep_growthbook 14670
exec init_rep_growthbook 14702
exec init_rep_growthbook 14869
exec init_rep_growthbook 14909
exec init_rep_growthbook 14910
exec init_rep_growthbook 14911
exec init_rep_growthbook 14912
exec init_rep_growthbook 14913
exec init_rep_growthbook 14916
exec init_rep_growthbook 14917
exec init_rep_growthbook 14918
exec init_rep_growthbook 14919
exec init_rep_growthbook 14923
exec init_rep_growthbook 14924
exec init_rep_growthbook 14925
exec init_rep_growthbook 14926
exec init_rep_growthbook 14928
exec init_rep_growthbook 14930
exec init_rep_growthbook 14931
exec init_rep_growthbook 14932
exec init_rep_growthbook 14933
exec init_rep_growthbook 14934
exec init_rep_growthbook 14935
exec init_rep_growthbook 14938
exec init_rep_growthbook 14979
exec init_rep_growthbook 15012
exec init_rep_growthbook 15014
exec init_rep_growthbook 15015
exec init_rep_growthbook 15016
exec init_rep_growthbook 15028
exec init_rep_growthbook 15053
exec init_rep_growthbook 15137
exec init_rep_growthbook 15145
exec init_rep_growthbook 15501
exec init_rep_growthbook 15848
exec init_rep_growthbook 15960
exec init_rep_growthbook 15982
exec init_rep_growthbook 16003
exec init_rep_growthbook 16291
exec init_rep_growthbook 16308
exec init_rep_growthbook 16474
exec init_rep_growthbook 16942
END
 


GO
