USE [KWebCMS_Right]
GO
/****** Object:  StoredProcedure [dbo].[UserPwdUpdate]    Script Date: 05/14/2013 14:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		高老
-- Create date: 2010-9-29
-- Description:	密码修改
-- =============================================
CREATE PROCEDURE [dbo].[UserPwdUpdate]
@account nvarchar(30),
@oldPassword nvarchar(64),
@newPassword nvarchar(64)
AS
IF EXISTS(SELECT * FROM sac_user WHERE account=@account AND password=@oldPassword)
BEGIN
UPDATE sac_user
SET password=@newPassword
WHERE account=@account AND status=1
RETURN @@ROWCOUNT
END
ELSE
RETURN 0
GO
