USE [edu_jn]
GO
/****** Object:  StoredProcedure [dbo].[rep_kindergarten_child_mx]    Script Date: 2014/11/24 23:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[rep_kindergarten_child_mx] 
@ty int
,@id int
,@aid int
,@kid int
,@cid int
,@name varchar(50)
,@page int
,@size int
AS


declare @pcount int



select @pcount=count(1) from rep_kininfo r 
where r.usertype=0 and r.cid=@cid



IF(@page>1)
	BEGIN
	
		DECLARE @prep int,@ignore int

		SET @prep=@size*@page
		SET @ignore=@prep-@size

		DECLARE @tmptable TABLE
		(
			row int IDENTITY(1,1),
			tmptableid bigint
		)

			SET ROWCOUNT @prep




	INSERT INTO @tmptable(tmptableid)
select [uid] from  rep_kininfo r 
where  r.usertype=0 and r.cid=@cid



SET ROWCOUNT @size


		SELECT 
				@pcount,r.uid,r.[uname]
,case when r.gender=2 then '女' else '男' end sex
,dbo.FUN_GetAge(r.birthday),r.areaname
			FROM 
				@tmptable AS tmptable	
inner join rep_kininfo r on r.uid=tmptableid 
			WHERE
				row>@ignore 


end
else
begin
SET ROWCOUNT @size

select distinct @pcount,r.uid,r.[uname]
,case when r.gender=2 then '女' else '男' end sex
,dbo.FUN_GetAge(r.birthday),r.areaname from rep_kininfo r 
where  r.usertype=0 and r.cid=@cid



end 

GO
