USE [edu_jn]
GO
/****** Object:  StoredProcedure [dbo].[SchoolBus_Teacher_GetModel]    Script Date: 2014/11/24 23:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






------------------------------------
--用途：得到实体对象的详细信息 
--项目名称：
--说明：
--时间：2012/2/16 11:47:00
------------------------------------
CREATE PROCEDURE [dbo].[SchoolBus_Teacher_GetModel]
@ID int
 AS 
	SELECT 
	ID,bid,uid,uname,sex,age,tel,inuserid,intime
	 FROM [SchoolBus_Teacher]
	 WHERE ID=@ID 










GO
