USE [SMS]
GO
/****** Object:  StoredProcedure [dbo].[class_sms_GetStafferListByDepartmentid]    Script Date: 05/14/2013 14:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------
--用途:取教师列表
--项目名称：classhomepage
--说明：
--时间：2009-7-18 14:54:31
------------------------------------
alter PROCEDURE [dbo].[class_sms_GetStafferListByDepartmentid]
@departmentid int,
@kid int
AS
IF(@departmentid=0)
BEGIN
	select t1.userid,t1.name From BasicData.dbo.[user] t1
		inner join BasicData.dbo.teacher t4 on t1.userid=t4.userid
			where t1.kid = @kid 
			and t1.deletetag=1 
			and t1.usertype<>98
			and  t1.mobile is not null 
			and commonfun.dbo.fn_cellphone(t1.mobile) = 1 
		order by t1.name desc
END
ELSE
BEGIN
	select t1.userid,t1.name From BasicData.dbo.[user] t1
		inner join BasicData.dbo.teacher t4 on t1.userid=t4.userid
		where t1.kid = @kid 
			and t1.deletetag=1
			and t1.usertype<>98
			and t4.did =@departmentid 
			and  t1.mobile is not null 
			and commonfun.dbo.fn_cellphone(t1.mobile) = 1 
		order by t1.name desc
END
GO
[class_sms_GetStafferListByDepartmentid] 2623,1940 